certifi==2025.7.14
charset-normalizer==3.4.2
docker==7.1.0
idna==3.10
requests==2.32.4
urllib3==2.5.0
Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
psycopg2-binary>=2.9,<3.0
celery[redis]==5.2.7
flower==1.2.0